@model BookPortfolio.Models.Book
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<div class=" d-flex p-5 m-3">
    @{
        string imgUrl = "";
        if (Model.coverIds == null)
        {
            <img style="width: 18rem" src="/img/defbookcover-min.jpg" />
        }
        else
        {
            imgUrl = $"https://covers.openlibrary.org/b/id/{Model.coverIds[0]}-M.jpg";
            <img style="width: 18rem"  src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />

        }
    }
    <div class="p-3">
   <h1> Title: @Model.Title</h1>
   <h2> Author: @Model.Author</h2>
        <div>
       Details:
       @if(Model.ISBN_13 != null) {
           <p>ISBN13: @Model.ISBN_13</p>
       }
        @if (Model.ISBN_10 != null)
        {
            <p>ISBN10: @Model.ISBN_10</p>
        }
        <p>Language: @Model.language</p>
        <p>Published: @Model.PublishDate</p>
            @if (UserManager.GetUserName(User) != null)
            {
                <form method="post" action="@Url.Action("AddToPortfolio", "Portfolio")">
                    <input type="hidden" name="bookId" value="@Model.Id" />
                    <button type="submit">Add to your Bookshelf</button>
                </form>



            }
		</div>
	</div>
</div>