@model IEnumerable<BookPortfolio.Models.Book>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@if (UserManager.GetUserName(User) != null ) {
    <h4> Book not here?</h4> <a asp-area="" asp-action="AddPortfolio" asp-controller="Portfolio" class=" btn btn-primary uk-button uk-button-primary">
        Add it here to your portfolio
    </a>
}
<div class="shelf d-flex flex-wrap p-4 m-2">
	@foreach (var item in Model) {

    
	<div class="card" style="width: 12rem;">
                @{
                    string imgUrl = "";
                    if (item.coverIds == null)
                    {
                        <img src="/img/defbookcover-min.jpg" />
                    }
                    else
                    {
                        imgUrl = $"https://covers.openlibrary.org/b/id/{item.coverIds[0]}-M.jpg";
                        <img src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />

                    }
                }
                <div class="card-body">
                    <strong>@item.Title</strong> by @item.Author

                    <br />
                        <p>Published: @item.PublishDate</p>
                    <br />
                    @if (UserManager.GetUserName(User) != null ) {
                    <form method="post" action="@Url.Action("AddToPortfolio", "Portfolio")">
                        <input type="hidden" name="bookId" value="@item.Id" />
                        <button type="submit">Add to your Bookshelf</button>
                    </form>


                        
                    }
                <form method="get" action="/BookView/@item.Id">
                    <button type="submit">View Book</button>
                </form>
                </div>
            </div>
   }
    </div>
