@using Microsoft.AspNetCore.Identity
@model IEnumerable<BookPortfolio.Models.Portfolio>
@inject UserManager<AppUser> UserManager

<h2>@Model.FirstOrDefault()?.AppUser.UserName's Portfolio</h2>

@if (Model.FirstOrDefault()?.AppUser.UserName == UserManager.GetUserName(User)) {
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Portfolio" asp-action="Index">Return to edit view</a>
}

<h3>Currently Reading</h3>
<div class="shelf d-flex p-4 m-2">
    @foreach (var item in Model.Where(b => b.BookState == "Reading"))
    {


        string imgUrl = $"https://covers.openlibrary.org/b/id/{item.Book.coverIds[0]}-M.jpg";

        <div class="card" style="width: 12rem;">
            <img src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />
            <div class="card-body">
                <strong>@item.Book.Title</strong> by @item.Book.Author
                <br />
                @if (item.Rating != null)
                {
                    <div>
                        Rating: @item.Rating/5
                    </div>

                }
                <br />
                @if (item.Comment != null)
                {
                    <div>
                        Comment: @item.Comment
                    </div>

                }
            </div>
        </div>
    }
</div>

<h3>Read</h3>
<div class="shelf d-flex p-4 m-2">
    @foreach (var item in Model.Where(b => b.BookState == "Read"))
    {

        string imgUrl = $"https://covers.openlibrary.org/b/id/{item.Book.coverIds[0]}-M.jpg";

        <div class="card" style="width: 12rem;">
            <img src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />
            <div class="card-body">
                <strong>@item.Book.Title</strong> by @item.Book.Author
                <br />
                @if (item.Rating != null)
                {
                    <div>
                        Rating: @item.Rating/5
                    </div>

                }
                <br />
                @if (item.Comment != null)
                {
                    <div>
                        Comment: @item.Comment
                    </div>

                }
            </div>
        </div>
    }
</div>

<h3>To Read</h3>
<div class="shelf d-flex p-4 m-2">
    @foreach (var item in Model.Where(b => b.BookState == "To Read"))
    {

        string imgUrl = $"https://covers.openlibrary.org/b/id/{item.Book.coverIds[0]}-M.jpg";

        <div class="card" style="width: 12rem;">
            <img src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />
            <div class="card-body">
                <strong>@item.Book.Title</strong> by @item.Book.Author

                <br />
                @if (item.Rating != null)
                {
                    <div>
                        Rating: @item.Rating/5
                    </div>

                }
                <br />
                @if (item.Comment != null)
                {
                    <div>
                        Comment: @item.Comment
                    </div>

                }
            </div>
        </div>
    }
</div>

<div class="shelf d-flex p-4 m-2">
    <h3>Want To Read</h3>
    @foreach (var item in Model.Where(b => b.BookState == "Want To Read"))
    {

        string imgUrl = $"https://covers.openlibrary.org/b/id/{item.Book.coverIds[0]}-M.jpg";

        <div class="card" style="width: 18rem;">
            <img src="@Url.Action("GetCachedImage", "Image", new {imageUrl = imgUrl})" class="card-img-top" alt="Book Cover" />
            <div class="card-body">
                <strong>@item.Book.Title</strong> by @item.Book.Author
                <br />
                @if (item.Rating != null)
                {
                    <div>
                        Rating: @item.Rating/5
                    </div>

                }
                <br />
                @if (item.Comment != null)
                {
                    <div>
                        Comment: @item.Comment
                    </div>

                }
            </div>
        </div>
    }
</div>